.nav{
  padding: 14;
  padding-left: 0;
  overflow: hidden;
}

.nav a{
  display: inline;
  margin: -1.94;
  padding: 14px;
  padding-top: 18.9;
  padding-bottom: 17;
  color: #000000;
  text-decoration: none;
}

