body{
  margin: 0;
  background-color: #F9F5E9;
}

ul{
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #888888;
}

li{
  float: left;
}

li a{
  display: block;
  color: #FFF;
  text-align: center;
  padding: 13.6px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #808080;
}

.active{
  background-color: #48acd4;
}

.main{
  margin-left: 20px;
  margin-top: 68px;
}

.leftmain{
  float: left;
  margin-right: 10px;
  width: 200px;
}

.left-aboutbar{
  border: 0px;
  border-radius: 10px;
  height: 250px;
  background-color: #FFF;
}

.icon{
  margin: 22.6px;
  border: 3px solid black;
  border-radius: 100px;
}

.rightmain{
  float: left;
  margin-left: 10px;
  width: 75%;
}

.postlist{
  float: left;
  width: 100%;
}

.post{
  float: left;
  width: 100%;
  background-color: #FFF;
  border: 0;
  border-radius: 10px;
}

.postinfo{
  margin: 20px;
  background-color: #FFF;
}
