body{
  margin: 0;
  background-color: #F9F5E9;
}

ul{
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #A5A5A5;
}

li{
  float: left;
}

li a{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #A1A1A1;
}

.active{
  background-color: #87CEEB;
}

.postlist{
  margin-top: 80px;
  float: center;
}

.post{
  margin: 40px;
  background-color: #FFF;
  border: 0;
  border-radius: 5px;
}
