body{
  margin: 0;
  background-color: #F9F5E9;
}

ul{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #ffcc66;
}

li{
  float: left;
}

li a{
  display: block;
  color: #FFF;
  text-align: center;
  padding: 13.6px 16px;
  text-decoration: none;
}

.main{
  margin: 20px;
  margin-top: 70px;
}

.content{
  margin: 0 auto;
  width: 800px;
  border: 0;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.table{
  padding: 20px;
  background-color: #FFFFFF;
}

thead{
  display: block;
}

tbody{
  display: block
}

tleft{
  float: left;
  display: 0;
  margin: 0 auto;
}

tright{
  float: right;
  display: 0;
  margin: 0 auto;
}
